<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: commonhead">
</head>
<!--<body class="sidebar-fixed header-fixed">-->
<div class="page-wrapper">

    <div th:replace="common :: topBar"></div>

    <div class="main-container">
        <div th:replace="common :: commonbody"></div>

        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-light">
                    商铺管理      &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;   <a th:href="@{/manageShop/toInsert}"> 添加 </a>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>商铺名</th>
                                <th>负责人</th>
                                <th>联系电话</th>
                                <th>商铺地址</th>
                                <th>注册时间</th>
                                <th>审核状态</th>
                                <th>审核备注</th>
                                <td>操作</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="dataTable" th:each="shop : ${page.list}" th:switch="${shop.status}">
                                <td th:text="${shop.id}"></td>
                                <td th:text="${shop.shopName}"></td>
                                <td th:text="${shop.username}"></td>
                                <td th:text="${shop.userMobile}"></td>
                                <td th:text="${shop.addr}"></td>
                                <td th:text="${shop.registTime}"></td>
                                <td th:case="1">审核中</td>
                                <td th:case="2">审核通过</td>
                                <td th:case="3">审核不通过</td>
                                <td th:text="${shop.remark}"></td>
                                <td><a th:href="@{/manageShop/toSelect(id=${shop.id})}"> 查看 </a><a th:href="@{/manageShop/toUpdate(id=${shop.id})}"> 修改 </a><a th:href="@{/manageShop/del(id=${shop.id})}"> 删除 </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer no-margin-top">
                    <div class="col-md-6">
                        当前第 [[${page.pageNum}]]页,共 [[${page.pages}]] 页.一共 [[${page.total}]] 条记录
                    </div>

                    <ul class="pagination pull-right no-margin">
                        <li th:if="${page.hasPreviousPage}">
                            <a th:href="'/sysMenu/table?start=1'">首页</a>
                        </li>

                        <li class="prev" th:if="${page.hasPreviousPage}">
                            <a th:href="'/manageShop/table?start='+${page.prePage}">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <!--遍历条数-->
                        <li th:each="nav:${page.navigatepageNums}">
                            <a th:href="'/manageShop/table?start='+${nav}" th:text="${nav}" th:if="${nav != page.pageNum}"></a>
                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == page.pageNum}" th:text="${nav}" ></span>
                        </li>


                        <li class="next" th:if="${page.hasNextPage}">
                            <a th:href="'/manageShop/table?start='+${page.nextPage}">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>

                        <li>
                            <a th:href="'/manageShop/table?start='+${page.pages}">尾页</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>

</body>
</html>
