<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: commonhead">
</head>
<!--<body class="sidebar-fixed header-fixed">-->

<div class="page-wrapper">


    <div th:replace="common :: topBar"></div>

    <div class="main-container">
        <div th:replace="common :: commonbody"></div>

        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-light">
                    查看商品信息
                </div>

                <form class="form-horizontal" th:object="${good}" method="post">
                    <input type="hidden" name="id" th:value="*{id}"/>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">商品名称</label>
                        <div class="col-sm-10">
                            <input readonly type="text" class="form-control" name="name" id="name" th:value="*{name}"
                                   placeholder="Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-sm-2 control-label">价格</label>
                        <div class="col-sm-10">
                            <input readonly type="text" class="form-control" name="price" id="price" th:value="*{price}"  placeholder="Price"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="details" class="col-sm-2 control-label">详情</label>
                        <div class="col-sm-10">
                            <input readonly type="text" class="form-control" name="details" id="details" th:value="*{details}"  placeholder="Details"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品图片</label>
                        <div class="col-sm-10">
                            <img id="picture" th:src="'/upload/' + *{picture}" style="height: 200px;width: 200px">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            &nbsp; &nbsp; &nbsp;
                            <a th:href="@{/manageGoods/table}" class="btn btn-info">Back</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>



    </div>

</div>

</body>
</html>
